# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover

# Translations
*.mo
*.pot

# Django stuff:
*.log

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# DotEnv configuration
.env

# Database
*.db
*.rdb

# Pycharm
.idea

# VS Code
.vscode/

# Spyder
.spyproject/

# Jupyter NB Checkpoints
.ipynb_checkpoints/



# Mac OS-specific storage files
.DS_Store

# vim
*.swp
*.swo

# Mypy cache
.mypy_cache/

# exclude data from source control by default

/data/raw/all_data/Images_set1/
/data/raw/all_data/Images_set2/
/data/raw/all_data/Images_set3/
/data/raw/all_data/test_images/
/data/raw/div2k_data
/data/raw/div2krk

/data/processed/

# ignoring data 
/model/*/*.jpg
/model/*/*.png

*.mat
*.pdf
*.zip

# ignore env
/ma/

# /src/RealDAN-main/
src/KernelGAN-master_v1/results/

random_code_snippets.py

# lmdb data formats
*mdb
*lmdb

/src/SwinIR-main/KAIR-master
*.pth

/src/SwinIR-main/superresolution

/butterfly_viewer


/src/usrnet/SR

src/usrnet/testsets/
src/usrnet/KernelGAN_master_v1/results/

results/srcnn/
results/kernelgan/